
CustomLocalisator.xcodeproj/project.xcworkspace/xcuserdata/mazevedo.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

CustomLocalisator.xcodeproj/project.xcworkspace/xcuserdata/mazevedo.xcuserdatad/UserInterfaceState.xcuserstate

*.xcbkptlist

CustomLocalisator.xcodeproj/xcuserdata/mazevedo.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
